.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;
    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.flex_container{
    display: flex;
    background-color: #333;
    color: white;
    padding: 15px;
}

.flex_container div{
    margin: 10px;
}

.flex_item{
    position: relative;
    align-items: center;
    padding: 10px, 15px;
}

.flex_item a:hover{
    background-color: #bdbbbb;
    border-radius: 5px;
}

.flex_item a{
    color: white;
    text-decoration: none;
    font-size:18px;
    padding: 10px, 15px;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
}

.dropdown div{
    border-bottom: 1px solid #ddd;
    color: black;
    padding: 10px;
}

.flex_item:hover .dropdown{
    display: block;
}