body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.table2{
    border-spacing: 0 20px;
}

.box1{
    background-color: darkred;
    text-align: center;
}

.box2{
    background-color: deeppink;
    text-align: center;
}

.box3{
    background-color: brown;
    text-align: center;
}

.box_text_color{
    color: white;
    padding: 10px;
    margin: 0;   
}

.box_text_color p{
    color: white;
    font-size: 16px;
    font-family: "Arial";
}

.box_text_color a {
    color: inherit;
}

.td_image_cell{
    width: 570px;
}

.td_image_cell img{
    width: 100%;
    height: 100%;
    display: block;
}

p{
    font-size: 16px;
    font-family: "Arial";
    color: #3d3d3d; 
}
